a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--grey);
}
 
header ul {
    list-style: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 22px;
    font-family: 'Merriweather', serif;
}

@media (max-width: 500px) {
    header ul {
        justify-content: space-around;
    }
}

header li {
    margin-left: 10px;
    color: var(--white);
}

.container {
    background-color: var(--black);
    padding: 10px;
}