.container-contacts {
    padding: 213px;
    background-color: var(--black);
}

.social-contact-links {
    display: flex;
    justify-content: space-between;
}

.social-contact-links a {
    color: var(--white);
}

.social-contact-links img {
    filter: invert(1);
}